#input {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 20%;
    resize: none;
    font-family: monospace;
}

.upload {
    position: absolute;
    right: 25px;
    bottom: calc(20% - 60px);
    color: white;
    background-color: #0f65d6;
}

.options {
    position: absolute;
    left: 10px;
    right: 10px;
    top: calc(80% + 10px);
    bottom: 10px;
}

#font-size {
    width: 50px;
}

.loader-frame {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 20%;
    background-color: #b9b9b9;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid rgba($color: #000000, $alpha: 0); 
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }