<div class="root">
    <div  class="service-description" fxFlex="30" *ngIf="serviceDescription.show">
        <app-service-desccription></app-service-desccription>
    </div>
    <div  class="graph" style="height: 100%;" fxFlex="{{100 + (serviceDescription.show ? -30 : 0) + (showQuery ? -30 : 0)}}">
        <p class="queryToggle button" (click)="toggleQueryEditor()">Toggle Query Editor</p>
        <app-graph></app-graph>
    </div>
    <div  class="query" fxFlex="30" *ngIf="showQuery">
        <div fxLayout="row" fxLayoutAlign="start center" style="height: 40px;">
            <div class="navigation button" *ngFor="let tab of tabs" (click)="navigate(tab)" [ngStyle]="{'text-decoration': (routes[tab] === currentPath) ? 'underline 2px' : 'none'}">{{tab}}</div>
        </div>
        <div style="height: calc(100% - 50px); padding-top: 10px;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>