/* You can add global styles to this file, and also import other style files */
* {
    font-family: Arial, sans-serif;
}

.root {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: white;
    > * {
        margin: 0;
    }
}

.button {
    border-radius: 5px;
    padding: 9px;
    user-select: none;
    &:hover {
        cursor: pointer;
        opacity: 0.6;
        background-color: #cccccc;
    }
    &:active {
        opacity: 0.7;
        background-color: #808080;
    }
}

.navigation {
    text-underline-offset: 5px;
}